SEPOLIA_RPC_URL=INSERISCI_QUI_LA_TUA_RPC_URL
PRIVATE_KEY=INSERISCI_QUI_LA_TUA_PRIVATE_KEY

VRF_SUBSCRIPTION_ID=INSERISCI_QUI_IL_SUBSCRIPTION_ID
VRF_COORDINATOR=0x8103B0A8A00be2DDC778e6e7eaa21791Cd364625
VRF_KEY_HASH=0x474e34a077df58807dbe9c96d3c009b23b3c6d0cce433e59bbf5b34f823bc56c

MINT_PRICE_ETH=0.01
MAX_SUPPLY=50
BASE_TOKEN_URI=https://example.com/metadata/